<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="/public/css/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/public/css/bootstrap/bootstrap-responsive.min.css">

	<link rel="stylesheet" type="text/css" href="/public/css/custom.css">
	<!-- Icons -->
	<link rel="shortcut icon" href="/public/favicon.ico">

	<!-- RSS -->
	<link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
	<!--<script src="//use.typekit.net/tji7lrd.js"></script>
	<script>try{Typekit.load();}catch(e){}</script>-->
</head>
